---
layout: layout.liquid
---
  <div class="section">
	<div class="container">
	<div class="section">
		<h1 class="page-title">{{ pageTitle }}</h1>
		<p class="big-source">{{ pageSubtext }}</p>
		</div>
		<div class="section">
			<div class="content">
		  {{ content | safe }}
			</div>
		</div>
  </div>
</div>