---
layout: layout.liquid
---
<div class="container">
  <div class="section">
	<h2 class="title is-2">{{ pageTitle }}</h2>
	<p class="subtitle">{{ pageSubtext }}</p>
  </div>
  <div class="section">
	<div class="content">
	  {{ content | safe }}
	</div>
  </div>
</div>