@charset "utf-8";


.sticky {
  position: sticky;
  top: 60px;
}
.navbar a {
    color: white;
}
.footer .container.level .level-item {
    margin-left: 48px;
    margin-right: 48px;
}

.has-board-background {
    background-image: url('../assets/schalplan-illu-rechts.png'), url('../assets/schalplan-illu-links.png');
    background-position: right bottom, top left;
    background-repeat: no-repeat, no-repeat;
}


@import "./styleguide.scss";