/* Custom Stylesheet */

html {
    font-family: 'Source Sans Pro', sans-serif
}

p {
    font-size: 1.5rem
}

.brand-logo {
    font-weight: 900
}

nav ul a, nav .brand-logo, nav a .material-icons, footer a {
    color: #444 !important
}

main {
    color: rgba(255, 255, 255, 0.9);
    background-attachment: fixed;
    background-image: url("bg.svg");
    background-position: center center;
    background-repeat: repeat;
    overflow: hidden
}

.welcome h1 {
    font-weight: 600;
    font-size: 3.5rem
}

.welcome h4 {
    font-size: 1.5rem;
    font-weight: 600
}

.welcome p {
    font-size: 1.5rem
}

.welcome a {
    color: white;
    display: inline-block
}

.welcome a i.fa-border {
    border: solid .03em #eee
}

.welcome a:hover {
    background-color: rgba(255, 255, 255, 0.15)
}

.section p a {
    color: #26a69a;
}

.welcome .name-section {
    padding-top: 6rem;
    padding-bottom: 6rem
}

.welcome .topic-section {
    padding-top: 0;
    padding-bottom: 6rem
}

.topics-description {
    padding-left: 1rem;
    padding-right: 1rem
}

.description {
    padding-top: 4rem;
    padding-bottom: 4rem
}

.description h3 {
    margin-top: 0
}

.description p {
    font-size: 1.5rem
}

.description img {
    width: 6rem
}

.description .description-text {
    padding-right: 3rem
}

.bio {
    margin-top: 2rem;
    overflow: auto
}

.bio .bio-img {
    width: 25%
}

.bio .bio-text {
    width: 75%;
    padding-left: 2rem
}

.bio .bio-text h4 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 600
}

.bio .contact-text {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 0.5rem
}

footer {
    height: 8rem
}

.content {
    color: #444;
    margin-bottom: 2rem
}

.row.heading {
    position: relative;
    margin-bottom: 0
}

@media (min-width: 601px) {
    .heading-subtext {
        position: absolute;
        right: 0.75rem;
        bottom: 0
    }
}

@media (max-width: 600px) {
    p.heading-subtext {
        margin-top: 0
    }
    .content {
        padding-left: 1rem;
        padding-right: 1rem
    }
    .section {
        padding-top: 0.1rem
    }
    .container {
        width: 97% !important
    }
}

@media (min-width: 601px) {
    .content {
        padding-left: 2rem;
        padding-right: 2rem
    }
}

.card .card-action a {
    color: #fff !important
}

div.col.karlskrona {
    padding: 3em
}

.btn.help-btn {
    height: auto !important;
    margin-top: 1em
}

@media (min-width: 992px) {
    .row.flex-row {
        display: flex
    }
}

.content h4 {
    margin-top: 0
}

.content ul {
    font-size: 1.5rem
}

.research-area-box {
    padding-top: 1rem
}

.research-area-divider {
    margin-top: 1rem;
    margin-bottom: 1rem
}

span.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden
}